:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--white: #fafafa;
	--black: #141414;
	--white-secondary: #bfbfbf;
	--color-odd: #eed2aa;
	--color-even: #90502f;
	--color-frame: #62351f;
	--cell-size: 42px;
	--piece-size: calc(var(--cell-size) - 20px);
	--board-size: calc(var(--cell-size) * 8);

	@media (min-width: 640px) {
		--cell-size: 52px;
	}

	@media (min-width: 768px) {
		--cell-size: 62px;
	}

	@media (min-width: 1024px) {
		--cell-size: 72px;
	}
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	color: var(--white);
	background-color: var(--black);
}

#app {
	margin-left: auto;
	margin-right: auto;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
